
header {
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    align-content: center;
    padding: 2%;
}

header h1{
    align-self: center;
    font-size: 40px;
}

header nav {
    font-size: 30px;
    display: flex;
    min-width: 60vw;
    justify-content: space-between;
    border: 2px red solid;
}

nav > * {
    border: black solid 2px;
    margin: 1vw;
    border-radius: 3%;
}


main{
    display: flex;
    justify-content: center;
    align-content: center;
}

#quiz-box{
    border: green solid 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 50vh;
    width: 50vw;
}

#wrong {
    background-color: red;
    color: aliceblue;
}

#correct {
    background-color: green;
    color: aliceblue;
}

#start-box {
    align-self: center;
    margin: 3vh;
}

#instructions-box {
    align-self: center;
}
.qa-box {
    margin: 1vh
}
.questions-box {
    padding:1vh;
}

.info-box {
    width: 100%;
    align-self: center;
    padding: 2vh;
}
.choice-box {
    margin: 1vh;
    border: 2px black solid;
    padding: .4vh;
    border-radius: 2%;
}