* {border: 1px black solid;}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: wrap;
    align-content: center;
    padding: 2%;
}

header h1{
    align-self: center;
    font-size: 40px;
}

header nav {
    font-size: 30px;
    display: flex;
    min-width: 60vw;
    justify-content: space-between;
    border: 2px red solid;
}


main{
    display: flex;
    justify-content: center;
    align-content: center;
}

.quiz-box {
    min-width: 50vw;
    min-height: 50vh;
    padding:3%;
    margin: 4%;
}

.quiz-box > * {
    display: flex;
    min-height: 50%;
    align-items: center;
}

.quiz-box-header {
    font-size: 30px;
}

.quiz-box-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    padding: 1%;
}

.quiz-box-main > * {
    margin: 0.25%;
}